@charset "utf-8";

// 全局设置
$blue: #1f7aaa;
$yy: "youyuan";

%menu-item{height: 49px; border-bottom: 1px solid #dcdcdc; line-height: 50px;}


// 侧边目录
.menu{
	width: 260px;
	float: left;
	font-family: $yy;

	.menu-item{
		display: none;
	}

	.menu-title{
		height: 60px;
		color: #fff;
		font-size: 24px;
		font-weight: normal;
		line-height: 60px;
		text-indent: 15px;
		background-color: $blue;
		
		span{
			display: block;
			float: left;
			width: 10px;
			height: 60px;
			margin-left: 15px;
			background: url(../img/icon/white_point.png) no-repeat left 25px;
		}
	}
	.menu-list{
		background-color: #fff;

		a{
			display: block;
			@extend %menu-item;
			text-indent: 15px;
			font-size: 18px;
			color: $blue;

			&:hover{
				background-color: #e7e7e7;
				font-weight: bold;
			}

			span{
				display: block;
				float: right;
				width: 12px;
				height: 6px;
				margin: 22px 0;
				margin-right: 20px;
				background: url(../img/icon/list_down.png);
			}
		}
	}
	.menu-list-second{
		display: none;

		a{
			@extend %menu-item;
			text-indent: 10px;
			font-size: 14px;
			color: #919191;

			&:hover{
				background-color: #e7e7e7;
				font-weight: bold;
			}
		}
		span{
			float: left;
			font-size: 14px;
			color: #919191;
			line-height: 50px;
			text-indent: 35px;
		}
	}
	.click{
		background-color: #e7e7e7;
		font-weight: bold;
	}
	.span{
		background: url(../img/icon/list_up.png)!important;
	}

}


// 内容栏
.text{
	width: 838px;
	min-height: 780px;
	float: right;
	padding: 0 24px;
	background-color: #fff;

	.bread{
		float: right;
		margin-top: 30px;
		font-size: 14px;
		color: #848484;

		a{
			margin: 0 4px;
			color: #848484;
		}
	}
	.text-head{
		margin: 70px 0 20px;
		text-align: center;

		h1{
			color: $blue;
			font-size: 24px;
			font-weight: normal;
		}
		.text-info{
			margin-top:36px;
			font-size:  14px;
			color: #acacac;
		}
	}
	.text-body{
		margin-bottom: 36px;
		font-family: $yy;

		p{
			font-size: 14px;
			line-height: 24px;
			text-indent: 32px;
			margin:30px 40px 0;
		}
	}
}