.menu .menu-list a, .menu .menu-list-second a {
  height: 49px;
  border-bottom: 1px solid #dcdcdc;
  line-height: 50px; }

.menu {
  width: 260px;
  float: left;
  font-family: "youyuan"; }
  .menu .menu-item {
    display: none; }
  .menu .menu-title {
    height: 60px;
    color: #fff;
    font-size: 24px;
    font-weight: normal;
    line-height: 60px;
    text-indent: 15px;
    background-color: #1f7aaa; }
    .menu .menu-title span {
      display: block;
      float: left;
      width: 10px;
      height: 60px;
      margin-left: 15px;
      background: url(../img/icon/white_point.png) no-repeat left 25px; }
  .menu .menu-list {
    background-color: #fff; }
    .menu .menu-list a {
      display: block;
      text-indent: 15px;
      font-size: 18px;
      color: #1f7aaa; }
      .menu .menu-list a:hover {
        background-color: #e7e7e7;
        font-weight: bold; }
      .menu .menu-list a span {
        display: block;
        float: right;
        width: 12px;
        height: 6px;
        margin: 22px 0;
        margin-right: 20px;
        background: url(../img/icon/list_down.png); }
  .menu .menu-list-second {
    display: none; }
    .menu .menu-list-second a {
      text-indent: 10px;
      font-size: 14px;
      color: #919191; }
      .menu .menu-list-second a:hover {
        background-color: #e7e7e7;
        font-weight: bold; }
    .menu .menu-list-second span {
      float: left;
      font-size: 14px;
      color: #919191;
      line-height: 50px;
      text-indent: 35px; }
  .menu .click {
    background-color: #e7e7e7;
    font-weight: bold; }
  .menu .span {
    background: url(../img/icon/list_up.png) !important; }

.list {
  width: 838px;
  height: 780px;
  float: right;
  padding: 0 24px;
  background-color: #fff;
  font-family: "youyuan"; }
  .list .list-head {
    height: 58px;
    border-bottom: 2px solid #1f7aaa; }
    .list .list-head h1 {
      float: left;
      color: #1f7aaa;
      font-size: 24px;
      font-weight: normal;
      line-height: 60px; }
    .list .list-head .bread {
      float: right;
      margin-top: 30px;
      font-size: 14px;
      color: #848484; }
      .list .list-head .bread a {
        margin: 0 4px;
        color: #848484; }
  .list .list-box {
    margin: 10px 0; }
    .list .list-box li {
      height: 40px;
      line-height: 40px;
      font-size: 16px; }
      .list .list-box li a {
        display: block;
        float: left;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        width: 670px;
        color: #000;
        text-indent: 40px;
        background: url(../img/icon/list_point.png) no-repeat 20px 17px; }
        .list .list-box li a:hover {
          color: #1f7aaa; }
      .list .list-box li span {
        float: right;
        color: #989898;
        font-size: 14px; }
  .list .list-num {
    margin: 30px 0;
    height: 30px;
    line-height: 30px;
    text-align: center; }
    .list .list-num p {
      display: inline; }
      .list .list-num p a {
        color: #399ace;
        padding: 0 5px;
        margin: 0 5px; }
        .list .list-num p a:hover {
          background-color: #cce8f2; }
      .list .list-num p span {
        margin: 0 5px; }

/*# sourceMappingURL=list.css.map */
