@charset "utf-8";

// 全局设置
$blue: #1f7aaa;
$yy: "youyuan";

%menu-item{height: 49px; border-bottom: 1px solid #dcdcdc; line-height: 50px;}


// 侧边目录
.menu{
	width: 260px;
	float: left;
	font-family: $yy;

	.menu-item{
		display: none;
	}

	.menu-title{
		height: 60px;
		color: #fff;
		font-size: 24px;
		font-weight: normal;
		line-height: 60px;
		text-indent: 15px;
		background-color: $blue;
		
		span{
			display: block;
			float: left;
			width: 10px;
			height: 60px;
			margin-left: 15px;
			background: url(../img/icon/white_point.png) no-repeat left 25px;
		}
	}
	.menu-list{
		background-color: #fff;

		a{
			display: block;
			@extend %menu-item;
			text-indent: 15px;
			font-size: 18px;
			color: $blue;

			&:hover{
				background-color: #e7e7e7;
				font-weight: bold;
			}

			span{
				display: block;
				float: right;
				width: 12px;
				height: 6px;
				margin: 22px 0;
				margin-right: 20px;
				background: url(../img/icon/list_down.png);
			}
		}
	}
	.menu-list-second{
		display: none;

		a{
			@extend %menu-item;
			text-indent: 10px;
			font-size: 14px;
			color: #919191;

			&:hover{
				background-color: #e7e7e7;
				font-weight: bold;
			}
		}
		span{
			float: left;
			font-size: 14px;
			color: #919191;
			line-height: 50px;
			text-indent: 35px;
		}
	}
	.click{
		background-color: #e7e7e7;
		font-weight: bold;
	}
	.span{
		background: url(../img/icon/list_up.png)!important;
	}

}


// 列表栏
.list{
	width: 838px;
	height: 780px;
	float: right;
	padding: 0 24px;
	background-color: #fff;
	font-family: $yy;
	
	.list-head{
		height: 58px;
		border-bottom: 2px solid $blue;

		h1{	
			float: left;
			color: $blue;
			font-size: 24px;
			font-weight: normal;
			line-height: 60px;
		}
		.bread{
			float: right;
			margin-top: 30px;
			font-size: 14px;
			color: #848484;

			a{
				margin: 0 4px;
				color: #848484;
			}
		}
	}
	.list-box{
		margin: 10px 0;

		li{	
			height: 40px;
			line-height: 40px;
			font-size: 16px;

			a{	
				display: block;
				float: left;
				white-space:nowrap;
				text-overflow:ellipsis; 
				overflow: hidden;
				width: 670px;
				color: #000;
				text-indent: 40px;
				background: url(../img/icon/list_point.png) no-repeat 20px 17px;

				&:hover{
					color: $blue;
				}
			}
			span{
				float: right;
				color: #989898;
				font-size: 14px;
			}
		}
	}
	.list-num{
		margin: 30px 0;
		height: 30px;
		line-height: 30px;
		text-align: center;

		p{
			display: inline;
			
			a{
				color: #399ace;
				padding: 0 5px;
				margin: 0 5px;

				&:hover{
					background-color: #cce8f2;
				}
			}
			span{
				margin: 0 5px;
			}	
		}
	}
}