*{
	margin:0;
	padding: 0;
}

#main{
	-webkit-column-width:202px;
	-moz-column-width:202px;
	column-width:202px;
	/*-webkit-column-count:5;
	-moz-column-count:5;
	column-count:5;*/
	-webkit-column-rule:2px dashed #f00;
	-moz-column-rule:2px dashed #f00;
	column-rule:2px dashed #f00;
	-webkit-column-gap:5px;
	-moz-column-gap:5px;
	column-gap:5px;
}

.box{
	padding: 10px 0 0 15px;
}

.pic{
	padding: 10px;
	border: 1px solid #ccc;
	border-radius: 5px;
	box-shadow: 0 0 5px #ccc;
	width: 165px;
}

.pic img{
	display: block;
	width: 165px;
	height: auto;
}