* {
  padding: 0;
  margin: 0; }

img {
  border: none; }

li {
  list-style: none; }

input, select, textarea {
  outline: none; }

textarea {
  resize: none; }

a {
  text-decoration: none; }

body {
  min-width: 1200px;
  overflow-x: hidden;
  overflow-y: scroll;
  font-family: "Arial"; }

.header {
  height: 100px;
  background-color: #202020; }
  .header .nav {
    width: 1200px;
    margin: 0 auto; }
    .header .nav img {
      padding-top: 40px; }
    .header .nav ul {
      float: right;
      padding-top: 34px; }
    .header .nav li {
      display: inline-block;
      margin-left: 10px; }
      .header .nav li a {
        display: block;
        padding: 12px 10px;
        font-size: 14px;
        color: #fff; }
        .header .nav li a:hover {
          background-color: #d34e4e; }

.content .silder {
  height: 580px;
  background-color: #d6d6d6;
  position: relative; }
  .content .silder .text {
    position: relative;
    z-index: 11;
    top: 0;
    left: 0;
    width: 1200px;
    margin: 0 auto; }
    .content .silder .text .title {
      position: absolute;
      width: 500px;
      padding-left: 15px;
      top: 220px;
      opacity: 0.9; }
      .content .silder .text .title p {
        color: #fff;
        background-color: #202020;
        padding: 15px;
        font-size: 18px;
        float: left; }
        .content .silder .text .title p:first-child {
          font-size: 14px;
          padding: 10px;
          background-color: #d34e4e; }
      .content .silder .text .title h4 {
        font-size: 30px;
        color: #fff;
        padding: 15px;
        background-color: #202020;
        margin: 2px 0;
        float: left; }
    .content .silder .text .phoneNum {
      float: right;
      padding-right: 15px; }
      .content .silder .text .phoneNum p {
        font-size: 18px;
        color: #fff;
        background-color: #d34e4e;
        padding: 10px;
        line-height: 20px;
        float: right; }
      .content .silder .text .phoneNum span {
        width: 40px;
        height: 40px;
        display: block;
        float: left;
        background: url("../img/silder-icon-phone.png") no-repeat #bd4141 center; }
  .content .silder .pic-box {
    width: 100%;
    height: 580px;
    overflow: hidden;
    position: absolute;
    z-index: 9; }
    .content .silder .pic-box > a {
      display: block;
      height: 40px;
      width: 40px;
      background: url("../img/silder-icon.png");
      position: absolute;
      z-index: 10;
      top: 50%;
      left: 5%; }
      .content .silder .pic-box > a:nth-of-type(2) {
        left: 93%;
        transform: rotate(180deg); }
    .content .silder .pic-box ul {
      width: 100%;
      position: absolute;
      z-index: 5;
      top: -580px; }
    .content .silder .pic-box img {
      width: 100%;
      height: 580px;
      display: block; }
.content .features {
  height: 350px;
  overflow: hidden; }
  .content .features .title {
    text-align: center;
    padding-top: 70px;
    padding-bottom: 50px; }
    .content .features .title h4 {
      font-size: 30px; }
      .content .features .title h4 span {
        color: #d34e4e; }
    .content .features .title p {
      font-size: 14px;
      color: #a2a2a2; }
  .content .features .cell-box {
    width: 1200px;
    margin: 0 auto; }
    .content .features .cell-box .cell {
      width: 270px;
      margin: 0 15px;
      float: left; }
      .content .features .cell-box .cell img {
        float: left; }
      .content .features .cell-box .cell h5 {
        float: left;
        margin-left: 5px;
        font-size: 16px;
        line-height: 22px; }
      .content .features .cell-box .cell p {
        clear: both;
        padding-top: 12px;
        color: #9b9b9b;
        font-size: 14px; }
.content .ourteam {
  height: 530px;
  background-image: url("../img/ourteam-bg.png"); }
  .content .ourteam:hover .title span {
    width: 300px; }
  .content .ourteam .title {
    text-align: center;
    padding-top: 60px; }
    .content .ourteam .title h4 {
      font-size: 30px;
      color: #fff; }
    .content .ourteam .title span {
      margin-top: 10px;
      display: inline-block;
      height: 48px;
      width: 40px;
      border-top: 2px solid #fff;
      transition: width 0.4s;
      transition-timing-function: ease-in-out; }
  .content .ourteam .cell-box {
    width: 1200px;
    margin: 0 auto; }
    .content .ourteam .cell-box .cell {
      width: 270px;
      height: 315px;
      margin: 0 15px;
      float: left;
      background-color: #fff; }
      .content .ourteam .cell-box .cell img {
        width: 270px;
        height: 240px; }
      .content .ourteam .cell-box .cell h5 {
        padding-top: 18px;
        padding-left: 20px;
        font-size: 18px; }
      .content .ourteam .cell-box .cell p {
        padding-top: 2px;
        padding-left: 20px;
        font-size: 14px;
        color: #afafaf; }
.content .gallery {
  height: 660px; }
  .content .gallery:hover .title span {
    width: 300px; }
  .content .gallery .title {
    text-align: center;
    padding-top: 60px; }
    .content .gallery .title h4 {
      font-size: 30px; }
    .content .gallery .title span {
      margin-top: 10px;
      display: inline-block;
      height: 18px;
      width: 40px;
      border-top: 2px solid #000;
      transition: width 0.4s;
      transition-timing-function: ease-in-out; }
    .content .gallery .title p {
      color: #8d8d8d;
      font-size: 14px; }
  .content .gallery .cell-box {
    width: 1200px;
    margin: 0 auto;
    padding-top: 50px; }
    .content .gallery .cell-box .cell {
      width: 270px;
      margin: 0 15px;
      margin-bottom: 30px;
      float: left; }
      .content .gallery .cell-box .cell img {
        display: block;
        height: 180px;
        width: 270px; }
.content .pricing {
  height: 380px;
  background-color: #d34e4e; }
  .content .pricing:hover .title span {
    width: 350px; }
  .content .pricing .title {
    padding-top: 60px;
    text-align: center; }
    .content .pricing .title h4 {
      font-size: 30px;
      color: #fff; }
    .content .pricing .title span {
      margin-top: 10px;
      display: inline-block;
      height: 18px;
      width: 40px;
      border-top: 2px solid #fff;
      transition: width 0.4s;
      transition-timing-function: ease-in-out; }
  .content .pricing .cell-box {
    width: 1200px;
    margin: 0 auto; }
    .content .pricing .cell-box .cell {
      width: 366px;
      height: 172px;
      margin: 0 15px;
      background-color: #bd4141;
      border: 2px solid #bd4141;
      cursor: pointer;
      float: left; }
      .content .pricing .cell-box .cell .left {
        width: 136px;
        text-align: center;
        float: left; }
        .content .pricing .cell-box .cell .left img {
          padding-top: 26px;
          width: 30px;
          height: 30px; }
        .content .pricing .cell-box .cell .left h5 {
          padding-top: 20px;
          font-size: 20px;
          color: #fff;
          letter-spacing: -1px; }
        .content .pricing .cell-box .cell .left p {
          padding-top: 20px;
          font-size: 30px;
          font-weight: bold;
          color: #fff;
          text-align: center; }
          .content .pricing .cell-box .cell .left p span {
            font-size: 16px; }
      .content .pricing .cell-box .cell .right {
        width: 228px;
        height: 122px;
        margin: 25px 0px;
        float: right;
        border-left: 2px solid #e25050; }
        .content .pricing .cell-box .cell .right ul {
          padding-top: 10px; }
        .content .pricing .cell-box .cell .right li {
          color: #fff;
          font-size: 12px;
          line-height: 20px;
          text-indent: 40px;
          background: url("../img/pricing-tick.png") no-repeat 20px 6px; }
      .content .pricing .cell-box .cell:hover {
        background-color: #d34e4e;
        border: 2px solid #fff; }
        .content .pricing .cell-box .cell:hover .right {
          border-left: 2px solid #fff; }
.content .partners {
  height: 270px; }
  .content .partners:hover .title span {
    width: 200px; }
  .content .partners .title {
    padding-top: 60px;
    text-align: center; }
    .content .partners .title h4 {
      font-size: 30px; }
    .content .partners .title span {
      margin-top: 10px;
      display: inline-block;
      height: 18px;
      width: 40px;
      border-top: 2px solid #000;
      transition: width 0.4s;
      transition-timing-function: ease-in-out; }
  .content .partners .logo-slide {
    height: 90px;
    width: 1000px;
    margin: 0 auto;
    padding-bottom: 50px;
    overflow: hidden;
    position: relative; }
    .content .partners .logo-slide .logo-box {
      height: 90px;
      width: 1400px;
      position: absolute; }
      .content .partners .logo-slide .logo-box li {
        float: left;
        width: 200px;
        height: 90px;
        line-height: 90px;
        text-align: center; }
        .content .partners .logo-slide .logo-box li img {
          cursor: pointer;
          transform: translateY(40%); }

.footer {
  height: 310px;
  width: 100%;
  background: url("../img/footer-bg.png") #202020 no-repeat center;
  padding-top: 60px; }
  .footer .text {
    width: 1200px;
    margin: 0 auto; }
    .footer .text .left {
      margin-left: 15px;
      width: 370px;
      float: left; }
      .footer .text .left h5 {
        color: #fff;
        font-size: 16px; }
      .footer .text .left p {
        color: #a5a5a5; }
        .footer .text .left p:nth-of-type(1) {
          font-size: 14px;
          padding-top: 30px;
          padding-bottom: 30px; }
        .footer .text .left p:nth-of-type(2) {
          font-size: 14px;
          padding: 5px 0;
          text-indent: 18px;
          background: url("../img/footer-01.png") no-repeat 4px 7px; }
        .footer .text .left p:nth-of-type(3) {
          font-size: 14px;
          text-indent: 18px;
          background: url("../img/footer-02.png") no-repeat 1px 4px; }
    .footer .text .right {
      float: left;
      width: 670px;
      margin-left: 130px; }
      .footer .text .right h5 {
        color: #fff;
        font-size: 16px;
        padding-bottom: 30px; }
      .footer .text .right input[type="text"] {
        width: 206px;
        height: 32px;
        color: #a5a5a5;
        font-size: 14px;
        text-indent: 10px;
        background-color: #202020;
        border: 2px solid #5c5c5c;
        opacity: 0.5;
        float: left; }
        .footer .text .right input[type="text"]:nth-of-type(2) {
          margin: 0 20px; }
        .footer .text .right input[type="text"]:focus {
          opacity: 1;
          color: #a5a5a5; }
      .footer .text .right textarea {
        width: 426px;
        height: 106px;
        color: #a5a5a5;
        line-height: 32px;
        font-size: 14px;
        font-family: "Arial";
        padding-left: 10px;
        margin-top: 16px;
        background-color: #202020;
        border: 2px solid #5c5c5c;
        opacity: 0.5;
        float: left; }
        .footer .text .right textarea:focus {
          opacity: 1;
          color: #a5a5a5; }
      .footer .text .right input[type="submit"] {
        float: left;
        width: 210px;
        height: 36px;
        line-height: 38px;
        margin: 16px 0 0 20px;
        border: none;
        background-color: #bd4141;
        color: #fff;
        opacity: 0.8;
        font-size: 14px;
        font-family: "Arial";
        cursor: pointer;
        transition: background-color 0.2s;
        transition-timing-function: ease-in-out; }
        .footer .text .right input[type="submit"]:hover {
          background-color: #d34e4e;
          opacity: 1; }
  .footer .copyright {
    clear: both;
    width: 1170px;
    margin: 0 auto;
    padding-top: 60px; }
    .footer .copyright p {
      float: left;
      color: #a5a5a5; }
    .footer .copyright a {
      float: right;
      text-decoration: underline;
      color: #d34e4e; }

/*# sourceMappingURL=main.css.map */
