@charset "utf-8";

//清零
*{padding:0;margin:0;}
img{border:none;}
li{list-style:none;}
input,select,textarea{outline:none;}
textarea{resize:none;}
a{text-decoration:none;}
body{min-width:1200px;overflow-x:hidden;overflow-y:scroll;font-family:"Arial";}

//全局变量
$black:#202020;
$red:#d34e4e;
$out-red:#bd4141;



.header{
	height: 100px;
	background-color: $black;
	.nav{
		width: 1200px;
		margin: 0 auto;
		img{
			padding-top: 40px;
		}
		ul{
			float: right;
			padding-top: 34px;
		}
		li{
			display: inline-block;
			margin-left: 10px;
			a{
				display: block;
				padding: 12px 10px;
				font-size: 14px;
				color: #fff;
				&:hover{
					background-color: $red;
				}
			}
		}
	}
}
.content{
	.silder{
		height: 580px;
		background-color: #d6d6d6;
		position: relative;
		.text{
			position: relative;
			z-index: 11;
			top: 0;
			left: 0;
			width: 1200px;
			margin: 0 auto;
			.title{
				position: absolute;
				width: 500px;
				padding-left: 15px;
				top: 220px;
				opacity: 0.9;
				p{
					color: #fff;
					background-color: $black;
					padding: 15px;
					font-size: 18px;
					float: left;
					&:first-child{
						font-size: 14px;
						padding: 10px;
						background-color: $red;
					}
				}
				h4{
					font-size: 30px;
					color: #fff;
					padding: 15px;
					background-color: $black;
					margin: 2px 0;
					float: left;
				}
			}
			.phoneNum{
				float: right;
				padding-right: 15px;
				p{
					font-size: 18px;
					color: #fff;
					background-color: $red;
					padding: 10px;
					line-height: 20px;
					float: right;
				}
				span{
					width: 40px;
					height: 40px;
					display: block;
					float: left;
					background: url("../img/silder-icon-phone.png") no-repeat $out-red center;
				}
			}
		}
		.pic-box{
			width: 100%;
			height: 580px;
			overflow: hidden;
			position: absolute;
			z-index: 9;
			&>a{
				display: block;
				height: 40px;
				width: 40px;
				background: url("../img/silder-icon.png");
				position: absolute;
				z-index: 10;
				top: 50%;
				left: 5%;
				&:nth-of-type(2){
					left: 93%;
					transform:rotate(180deg);
				}
			}
			ul{
				width: 100%;
				position: absolute;
				z-index: 5;
				top: -580px;
			}
			img{
				width: 100%;
				height: 580px;
				display: block;
			}
		}
	}
	.features{
		height: 350px;
		overflow: hidden;
		.title{
			text-align: center;
			padding-top: 70px;
			padding-bottom: 50px;
			h4{
				font-size: 30px;
				span{
					color: $red;
				}
			}
			p{
				font-size: 14px;
				color: #a2a2a2;
			}
		}
		.cell-box{
			width: 1200px;
			margin: 0 auto;
			.cell{
				width: 270px;
				margin: 0 15px;
				float: left;
				img{
					float: left;
				}
				h5{
					float: left;
					margin-left: 5px;
					font-size: 16px;
					line-height: 22px;
				}
				p{
					clear: both;
					padding-top: 12px;
					color: #9b9b9b;
					font-size: 14px;
				}
			}
		}
	}
	.ourteam{
		height: 530px;
		background-image: url("../img/ourteam-bg.png");
		&:hover{
			.title span{
				width: 300px;
			}
		}
		.title{
			text-align: center;
			padding-top: 60px;
			h4{
				font-size: 30px;
				color: #fff;
			}
			span{
				margin-top: 10px;
				display: inline-block;
				height: 48px;
				width: 40px;
				border-top: 2px solid #fff;
				transition: width 0.4s;
				transition-timing-function: ease-in-out;
			}
		}
		.cell-box{
			width: 1200px;
			margin: 0 auto;
			.cell{
				width: 270px;
				height: 315px;
				margin: 0 15px;
				float: left;
				background-color: #fff;
				img{
					width: 270px;
					height: 240px;
				}
				h5{
					padding-top: 18px;
					padding-left: 20px;
					font-size: 18px;
				}
				p{
					padding-top: 2px;
					padding-left: 20px;
					font-size: 14px;
					color: #afafaf;
				}
			}
		}
	}
	.gallery{
		height: 660px;
		&:hover{
			.title span{
				width: 300px;
			}
		}
		.title{
			text-align: center;
			padding-top: 60px;
			h4{
				font-size: 30px;
			}
			span{
				margin-top: 10px;
				display: inline-block;
				height: 18px;
				width: 40px;
				border-top: 2px solid #000;
				transition: width 0.4s;
				transition-timing-function: ease-in-out;
			}
			p{
				color: #8d8d8d;
				font-size: 14px;
			}
		}
		.cell-box{
			width: 1200px;
			margin: 0 auto;
			padding-top: 50px;
			.cell{
				width: 270px;
				margin: 0 15px;
				margin-bottom: 30px;
				float: left;
				img{
					display: block;
					height: 180px;
					width: 270px;
				}
			}
		}
	}
	.pricing{
		height: 380px;
		background-color: $red;
		&:hover{
			.title span{
				width: 350px;
			}
		}
		.title{
			padding-top: 60px;
			text-align: center;
			h4{
				font-size: 30px;
				color: #fff;
			}
			span{
				margin-top: 10px;
				display: inline-block;
				height: 18px;
				width: 40px;
				border-top: 2px solid #fff;
				transition: width 0.4s;
				transition-timing-function: ease-in-out;
			}
		}
		.cell-box{
			width: 1200px;
			margin: 0 auto;
			.cell{
				width: 366px;
				height: 172px;
				margin: 0 15px;
				background-color: $out-red;
				border: 2px solid $out-red;
				cursor: pointer;
				float: left;
				.left{
					width: 136px;
					text-align: center;
					float: left;
					img{
						padding-top: 26px;
						width: 30px;
						height: 30px;
					}
					h5{
						padding-top: 20px;
						font-size: 20px;
						color: #fff;
						letter-spacing:-1px;
					}
					p{
						padding-top: 20px;
						font-size: 30px;
						font-weight: bold;
						color: #fff;
						text-align: center;
						span{
							font-size: 16px;
						}
					}
				}
				.right{
					width: 228px;
					height: 122px;
					margin: 25px 0px;
					float: right;
					border-left: 2px solid #e25050;
					ul{
						padding-top: 10px;
					}
					li{
						color: #fff;
						font-size: 12px;
						line-height: 20px;
						text-indent: 40px;
						background: url("../img/pricing-tick.png") no-repeat 20px 6px;
					}
				}
				&:hover{
					background-color: $red;
					border: 2px solid #fff;
					.right{
						border-left: 2px solid #fff;
					}
				}
			}
		}
	}
	.partners{
		height: 270px;
		&:hover{
			.title span{
				width: 200px;
			}
		}
		.title{
			padding-top: 60px;
			text-align: center;
			h4{
				font-size: 30px;
			}
			span{
				margin-top: 10px;
				display: inline-block;
				height: 18px;
				width: 40px;
				border-top: 2px solid #000;
				transition: width 0.4s;
				transition-timing-function: ease-in-out;
			}
		}
		.logo-slide{
			height: 90px;
			width: 1000px;
			margin: 0 auto;
			padding-bottom: 50px;
			overflow: hidden;
			position: relative;
			.logo-box{
				height: 90px;
				width: 1400px;
				position: absolute;
				li{
					float: left;
					width: 200px;
					height: 90px;
					line-height: 90px;	
					text-align: center;
					img{
						cursor: pointer;	
						transform: translateY(40%);
					}
				}
			}
		}
	}
}
.footer{
	height: 310px;
	width: 100%;
	background: url("../img/footer-bg.png") $black no-repeat center;
	padding-top: 60px;
	.text{
		width: 1200px;
		margin: 0 auto;
		.left{
			margin-left: 15px;
			width: 370px;
			float: left;
			h5{
				color: #fff;
				font-size: 16px;
			}
			p{
				color: #a5a5a5;
				&:nth-of-type(1){
					font-size: 14px;
					padding-top: 30px;
					padding-bottom: 30px;
				}
				&:nth-of-type(2){
					font-size: 14px;
					padding: 5px 0;
					text-indent: 18px;
					background: url("../img/footer-01.png") no-repeat 4px 7px;
				}
				&:nth-of-type(3){
					font-size: 14px;
					text-indent: 18px;
					background: url("../img/footer-02.png") no-repeat 1px 4px;
				}
			}
		}
		.right{
			float: left;
			width: 670px;
			margin-left: 130px;
			h5{
				color: #fff;
				font-size: 16px;
				padding-bottom: 30px;
			}
			input[type="text"]{
				width: 206px;
				height: 32px;
				color: #a5a5a5;
				font-size: 14px;
				text-indent: 10px;
				background-color: $black;
				border: 2px solid #5c5c5c;
				opacity: 0.5;
				float: left;
				&:nth-of-type(2){
					margin: 0 20px;
				}
				&:focus{
					opacity: 1;
					color: #a5a5a5;
				}
			}
			textarea{
				width: 426px;
				height: 106px;
				color: #a5a5a5;
				line-height: 32px;
				font-size: 14px;
				font-family:"Arial";
				padding-left: 10px;
				margin-top: 16px;
				background-color: $black;
				border: 2px solid #5c5c5c;
				opacity: 0.5;
				float: left;
				&:focus{
					opacity: 1;
					color: #a5a5a5;
				}
			}
			input[type="submit"]{
				float: left;
				width: 210px;
				height: 36px;
				line-height: 38px;
				margin: 16px 0 0 20px;
				border: none;
				background-color: $out-red;
				color: #fff;
				opacity: 0.8;
				font-size: 14px;
				font-family:"Arial";
				cursor: pointer;
				transition: background-color 0.2s;
				transition-timing-function: ease-in-out;
				&:hover{
					background-color: $red;
					opacity: 1;
				}
			}
		}
	}
	.copyright{
		clear: both;
		width: 1170px;
		margin: 0 auto;
		padding-top: 60px;
		p{
			float: left;
			color: #a5a5a5;
		}
		a{
			float: right;
			text-decoration: underline;
			color: $red;
		}
	}
}